<div class="mt-5">
  <%= render(Svg::WithTextComponent.new(svg: Svg::InfoComponent.new(classes: "w-8 h-8"), text: t("auth.password_validation.strength"))) %>

  <ul class="space-y-2 mt-3 ml-12">
    <%= content_tag(:li, t("auth.password_validation.length"), class: "text-red-800 text-sm", data: {password_strength_target: :feedback}) %>
    <%= content_tag(:li, t("auth.password_validation.digit"), class: "text-red-800 text-sm", data: {password_strength_target: :feedback}) %>
    <%= content_tag(:li, t("auth.password_validation.downcase_letter"), class: "text-red-800 text-sm", data: {password_strength_target: :feedback}) %>
    <%= content_tag(:li, t("auth.password_validation.uppercase_letter"), class: "text-red-800 text-sm", data: {password_strength_target: :feedback}) %>
    <%= content_tag(:li, t("auth.password_validation.special_character"), class: "text-red-800 text-sm", data: {password_strength_target: :feedback}) %>
  </ul>
</div>
