<%= form_with(url: searches_results_path(locale), method: :get, local: true, data: {turbo: "false"}, class: "space-y-4") do |form| %>
  <%= hidden_field_tag(:model, "training_session") %>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <%= render(Form::LabelComponent.new(form:, label: :language_id, value: t("activerecord.models.language"))) %>
      <%= select_tag(:language_id, options_for_select(Language.pluck(:name, :id), params[:language_id]),
                     multiple: false, class: "border p-2 rounded-xl w-full", prompt: "All languages") %>
    </div>
    <div>
      <%= render(Form::LabelComponent.new(form:, label: :country_id, value: t("activerecord.models.country"))) %>
      <%= select_tag(:country_id, options_for_select(Country.pluck(:name, :id), params[:country_id]),
                     multiple: false, class: "border p-2 rounded-xl w-full", prompt: "All countries") %>
    </div>
    <div>
      <%= render(Form::LabelComponent.new(form:, label: :category_id, value: t("activerecord.models.training_session_category"))) %>
      <%= select_tag(:category_id, options_for_select(TrainingSession::Category.pluck(:identifier, :id), params[:category_id]),
                     multiple: false, class: "border p-2 rounded-xl w-full", prompt: "All categories") %>
    </div>
    <div>
      <%= render(Form::LabelComponent.new(form:, label: :fresk_id, value: t("activerecord.models.fresk"))) %>
      <%= select_tag(:fresk_id, options_for_select(Fresk.pluck(:name, :id), params[:fresk_id]),
                     multiple: false, class: "border p-2 rounded-xl w-full", prompt: "All fresks") %>
    </div>
    <div>
      <%= render(Form::LabelComponent.new(form:, label: :start_at, value: t("activerecord.attributes.training_session.start_at"))) %>
      <%= form.date_field(:start_at, value: params[:start_at], class: "border p-2 rounded-xl w-full") %>
    </div>
    <div>
      <%= render(Form::LabelComponent.new(form:, label: :end_at, value: t("activerecord.attributes.training_session.end_at"))) %>
      <%= form.date_field(:end_at, value: params[:end_at], class: "border p-2 rounded-xl w-full") %>
    </div>
  </div>

  <!-- Roles -->
  <div class="mt-4">
    <%= render(Form::LabelComponent.new(form:, label: :category_id, value: t("training_session.role.role"))) %>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-2 mt-2 p-2 border rounded-xl">
      <div>
        <%= form.radio_button(:role, "all", checked: params[:role] == "all" || params[:role].blank?, class: "peer hidden") %>
        <%= render(Form::LabelComponent.new(form:, label: :role_all, value: t("training_session.role.all"), classes: "block cursor-pointer select-none rounded-xl px-2 py-1 text-center peer-checked:bg-indigo-500 peer-checked:text-white")) %>
      </div>
      <div>
        <%= form.radio_button(:role, "editor", checked: params[:role] == "editor", class: "peer hidden") %>
        <%= render(Form::LabelComponent.new(form:, label: :role_editor, value: t("training_session.role.editor"), classes: "block cursor-pointer select-none rounded-xl px-2 py-1 text-center peer-checked:bg-indigo-500 peer-checked:text-white")) %>
      </div>
      <div>
        <%= form.radio_button(:role, "facilitator", checked: params[:role] == "facilitator", class: "peer hidden") %>
        <%= render(Form::LabelComponent.new(form:, label: :role_facilitator, value: t("training_session.role.facilitator"), classes: "block cursor-pointer select-none rounded-xl px-2 py-1 text-center peer-checked:bg-indigo-500 peer-checked:text-white")) %>
      </div>
      <div>
        <%= form.radio_button(:role, "participant", checked: params[:role] == "participant", class: "peer hidden") %>
        <%= render(Form::LabelComponent.new(form:, label: :role_participant, value: t("training_session.role.participant"), classes: "block cursor-pointer select-none rounded-xl px-2 py-1 text-center peer-checked:bg-indigo-500 peer-checked:text-white")) %>
      </div>
    </div>
  </div>

  <div class="flex justify-end space-x-4">
    <%= form.submit("Filter", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-xl text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500") %>
    <%= link_to("Reset filters", training_sessions_path, class: "px-3 md:px-4 py-1 md:py-2 bg-gray-200 text-dark rounded-xl hover:bg-gray-300") %>
  </div>
<% end %>
