<div class="flex items-center space-x-2">
  <%#= render("layouts/nav/dropdown") %>
  <%= link_to("Sessions", training_sessions_path) %>
  <%= link_to(searches_modal_path, data: {turbo_frame: :modal, action: "dialog#open"}) do %>
    <div class="relative inline-block group">
      <span
        class="flex items-center justify-center px-0 w-10 md:px-1 md:w-auto h-10 text-base leading-normal text-center align-middle bg-transparent border border-solid shadow-none cursor-pointer rounded-2xl hover:bg-gray-100">
        <%= render(Svg::SearchComponent.new) %>
      </span>
    </div>
  <% end %>
  <%= link_to(edit_user_locale_path, data: {turbo_frame: :modal, action: "dialog#open"}) do %>
    <div class="relative inline-block group">
      <span
        class="flex items-center justify-center px-0 w-10 md:px-1 md:w-auto h-10 text-base leading-normal text-center align-middle bg-transparent border border-solid shadow-none cursor-pointer rounded-2xl hover:bg-gray-100">
        <%= render(Svg::TranslateComponent.new(stroke_width: 0.5, classes: "w-8 h-8 fill-gray-600 stroke-gray-600")) %>
      </span>
    </div>
  <% end %>
  <%= render("layouts/nav/user_dropdown") %>
</div>
