<div class="relative inline-block group">
  <%= render "layouts/nav/icon_button", name: "User" do %>
    <% if current_user && current_user.firstname %>
      <%= current_user.firstname %>
    <% else %>
      <svg viewBox="0 0 24 24"  class="w-8 h-8 stroke-gray-600" fill="none">
        <g>
          <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M20 21C20 18.2386 16.4183 16 12 16C7.58172 16 4 18.2386 4 21M12 13C9.23858 13 7 10.7614 7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8C17 10.7614 14.7614 13 12 13Z"/>
        </g>
      </svg>
    <% end %>
  <% end %>

  <div class="hidden group-hover:block absolute bg-gray-100 min-w-[160px] shadow-lg z-10 rounded-2xl right-0">
    <% if user_signed_in? %>
      <%= link_to("Profile", "#", class: "text-black p-3 block hover:bg-gray-200 rounded-2xl")  %>
      <%= link_to("Edit password", edit_auth_password_path, class: "text-black p-3 block hover:bg-gray-200 rounded-2xl")  %>
      <%= button_to("Log out", auth_session_path, method: :delete, class: "text-black p-3 block hover:bg-gray-200 rounded-2xl w-full text-left") %>
    <% else %>
      <%= link_to("Sign Up", new_auth_registration_path, class: "text-black p-3 block hover:bg-gray-200 rounded-2xl") %>
      <%= link_to("Log In", new_auth_session_path, class: "text-black p-3 block hover:bg-gray-200 rounded-2xl") %>
    <% end %>
  </div>
</div>
