<div class="relative inline-block group">
  <div class="relative inline-block group">
    <a href="#" aria-label=User"
      class="flex items-center justify-center px-0 w-10 md:px-1 md:w-auto h-10 text-base leading-normal text-center align-middle bg-transparent border border-solid shadow-none cursor-pointer rounded-2xl hover:bg-gray-100">
      <%= render("layouts/nav/username") %>
    </a>
  </div>

  <div class="hidden group-hover:block absolute bg-gray-100 min-w-[160px] shadow-lg z-10 rounded-2xl right-0">
    <% if user_signed_in? %>
      <%= link_to("Profile", user_path(current_user), class: "text-black p-3 block hover:bg-gray-200 rounded-2xl")  %>
      <%= link_to("Edit password", edit_auth_password_path, class: "text-black p-3 block hover:bg-gray-200 rounded-2xl")  %>
      <%= button_to("Log out", auth_session_path, method: :delete, class: "text-black p-3 block hover:bg-gray-200 rounded-2xl w-full text-left") %>
      <% if current_user.superadmin %>
        <%= link_to("Mission Control", mission_control_jobs_path, class: "text-black p-3 block hover:bg-gray-200 rounded-2xl")  %>
      <% end %>
    <% else %>
      <%= link_to("Sign Up", new_auth_registration_path, class: "text-black p-3 block hover:bg-gray-200 rounded-2xl") %>
      <%= link_to("Log In", new_auth_session_path, class: "text-black p-3 block hover:bg-gray-200 rounded-2xl") %>
    <% end %>
  </div>
</div>
