<h1 class="mb-10 flex items-center gap-2"><%= safe_image_tag("fresks/#{@fresk.identifier}.png", width: 50, alt: "") %> <%= @fresk.name %></h1>

<div class="space-y-20">
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-10">
    <div class="space-y-3">
      <h3>Scientifique</h3>
      <h4 class="text-indigo-900">Le jeu La Fresque du Climat est un outil neutre et objectif.</h4>
      <p>Il est fondé sur les données issues des rapports scientifiques du GIEC (Groupe d’experts intergouvernemental sur l’évolution du climat) dont les recommandations orientent les décisions politiques et économiques à l’échelle mondiale.</p>
    </div>
    <div class="space-y-3">
      <h3>Accessible</h3>
      <h4 class="text-indigo-900">Son approche ludique et pédagogique permet à tous les publics de s’approprier le sujet des changements climatiques.</h4>
      <p>Cette approche vise à éviter une descente verticale du savoir. Durant l’atelier, les participant·es relient les liens de cause à effets et intègrent les enjeux climatiques dans leur globalité.</p>
      </div>
    <div class="space-y-3">
      <h3>Impactant</h3>
      <h4 class="text-indigo-900">Sans culpabiliser et par une compréhension partagée des mécanismes à l’oeuvre, La Fresque engage les individus dans un échange constructif.</h4>
      <p>À l’issue de l’atelier, les participant·es sont motivé·es et outillé·es pour agir à leur échelle.</p>
    </div>
  </div>

  <%= link_to("https://fresqueduclimat.org/", class: "flex items-center gap-2", target: :_blank) do %>
    Visit official website
    <svg fill="#000000" class="w-3 h-3" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M960 704c-35.346 0-64 28.654-64 64v64c0 35.346-28.654 64-64 64H192c-35.346 0-64-28.654-64-64V192c0-35.346 28.654-64 64-64h64c35.346 0 64-28.654 64-64S291.346 0 256 0h-64C85.961 0 0 85.961 0 192v640c0 106.039 85.961 192 192 192h640c106.039 0 192-85.961 192-192v-64c0-35.346-28.654-64-64-64z"/><path d="M1023.876 51.52c0-1.92 0-3.84-1.6-5.44a63.957 63.957 0 00-1.92-6.4 63.973 63.973 0 00-3.2-6.4s0-3.2-2.56-4.8a63.989 63.989 0 00-17.6-17.6L991.876 8l-6.08-3.2-6.72-1.92h-5.44A64.028 64.028 0 00959.876 0h-384c-35.346 0-64 28.654-64 64s28.654 64 64 64h229.44l-370.56 370.88c-25.007 25.007-25.007 65.553 0 90.56s65.553 25.007 90.56 0l370.56-370.88V448c0 35.346 28.654 64 64 64s64-28.654 64-64V64c.407-4.15.407-8.33 0-12.48z"/></svg>
  <% end %>
  <div>
    <h2>Découvrir les sessions de <%= @fresk.name %></h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-10">
      <% @training_sessions.each do |training_session| %>
        <%= render "training_sessions/training_session", training_session: %>
      <% end %>
    </div>
  </div>
</div>
