<div class="mb-10 space-y-5">
  <h1 class="flex items-center gap-2">
    <%= render(ImageComponent.new(image_path: "fresks/#{@fresk.identifier}.png", options: {width: 50, alt: @fresk.name.to_s})) %>
    <%= @fresk.name %>
  </h1>
  <p><%= sanitize(@fresk.short_description(I18n.locale)) %></p>

  <% if @fresk.url.present? %>
    <%= link_to(@fresk.url, class: "flex items-center gap-2", target: :_blank) do %>
      <%= render(Svg::ArrowComponent.new) %>
      <%= t("fresk.visit_website") %>
    <% end %>
  <% end %>
</div>

<div class="mb-10">
  <%= sanitize(@fresk.long_description(I18n.locale)) %>
</div>

<div>
  <h2><%= t("fresk.upcoming_sessions") %></h2>

  <%= link_to(searches_results_path(locale, model: "training_session", fresk_id: @fresk.id), class: "flex items-center mt-2") do %>
    <%= render(Svg::ArrowComponent.new) %>
    <%= t("fresk.show_all_sessions") %>
  <% end %>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-10">
    <% @training_sessions.each do |training_session| %>
      <%= render("training_sessions/training_session", training_session:) %>
    <% end %>
  </div>
</div>
