<div data-controller="password-visibility">
  <%= render(Form::LabelComponent.new(form: @form, label: @field, value: t("auth.#{@field}"))) %>
  <div class="flex items-center justify-between border border-gray-300 rounded-xl mb-10">
    <%= @form.password_field(@field, data: password_data_attributes, class: "appearance-none w-full px-3 text-gray-700 bg-transparent leading-tight focus:outline-none focus:shadow-outline") %>
    <%= content_tag(:button, type: "button", data: {action: "click->password-visibility#toggle", password_visibility_target: :toggle}, class: "text-gray-700 py-2 px-3 flex items-center justify-center") do %>
      <%= render(Svg::EyeComponent.new, class: "hidden") %>
      <%= render(Svg::EyeSlashComponent.new) %>
    <% end %>
  </div>
</div>
