<div class="w-full max-w-lg mx-auto">
  <h1><%= t("common.welcome_to", app_name: t("common.app_name")) %></h1>

  <h2 class="mt-10 mb-5"><%= t("auth.login") %></h2>

  <%= form_with(model: @user, url: auth_session_path) do |form| %>
    <div>
      <%= render(Form::LabelComponent.new(form:, label: :email, value: t("activerecord.attributes.user.email"), for_input: :emal)) %>
      <%= form.email_field(:email, class: "mb-10 appearance-none border rounded-xl w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") %>
    </div>
    <div>
      <%= render(Form::LabelComponent.new(form:, label: :email, value: t("auth.password"), for_input: :password)) %>
      <%= form.password_field(:password, class: "mb-10 appearance-none border rounded-xl w-full py-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") %>
    </div>
    <div>
      <%= form.submit(t("auth.login"), class: "w-full bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-3 px-4 rounded-xl focus:outline-none focus:shadow-outline hover:cursor-pointer") %>
    </div>
  <% end %>

  <div class="mt-4">
    <%= link_to(new_auth_password_reset_path, class: "flex items-center") do %>
      <%= render(Svg::ArrowComponent.new) %>
      <%= t("auth.password_forgot") %>
    <% end %>
  </div>
</div>
