<div class="bg-white overflow-hidden shadow rounded-2xl border">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      User Profile
    </h3>
    <p class="mt-1 max-w-2xl text-gray-500">
      <%= user.description %>
    </p>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <div class="sm:divide-y sm:divide-gray-200">
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <div class="font-medium text-gray-500">
          First name
        </div>
        <div class="mt-1 text-gray-900 sm:mt-0 sm:col-span-2">
          <%= user.firstname %>
        </div>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <div class="font-medium text-gray-500">
          Last name
        </div>
        <div class="mt-1 text-gray-900 sm:mt-0 sm:col-span-2">
          <%= user.lastname %>
        </div>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <div class="font-medium text-gray-500">
          Email
        </div>
        <div class="mt-1 text-gray-900 sm:mt-0 sm:col-span-2">
          <%= user.email %>
        </div>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <div class="font-medium text-gray-500">
          last_login_at
        </div>
        <div class="mt-1 text-gray-900 sm:mt-0 sm:col-span-2">
          <%= user.last_login_at %>
        </div>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <div class="font-medium text-gray-500">
          Address
        </div>
        <div class="mt-1 text-gray-900 sm:mt-0 sm:col-span-2">
          <%= user.address %>, <%= user.city %>, <%= user.state %>, <%= user.postal_code %>, <%= user.country_id %>
        </div>
      </div>
    </div>
  </div>
</div>
