<h2><%= t("mailer.password_reset.greeting") %></h2>
<p><%= t("mailer.password_reset.request").html_safe %></p>

<%= link_to t("mailer.password_reset.reset_password"), edit_auth_password_reset_url(host: ENV["HOST"], token: params[:token]), class: "cta" %>

<div class="secondary center_text text_small"><%= t("mailer.password_reset.link_expiration") %></div>

<p><%= t("mailer.password_reset.ignore_request") %></p>
<p><%= t("mailer.password_reset.login_here") %> <%= link_to(root_url(host: ENV["HOST"]), root_url(host: ENV["HOST"])) %></p>

<p><%= t("mailer.password_reset.thank_you").html_safe %></p>
