<div data-controller="accordion" data-accordion-single-open-value="<%= @single_open %>">
  <% if @items.many? %>
    <div class="flex justify-end">
      <button data-action="click->accordion#toggleAll" class="toggle-all-btn text-gray-600">
        <%= t("common.toggle") %>
      </button>
    </div>
  <% end %>

  <% @items.each_with_index do |item, index| %>
    <div id="accordion-item-<%= index %>" class="mb-2 border border-gray-300 rounded-2xl">
      <button data-action="click->accordion#toggleItem" data-accordion-target="button" class="bg-gray-200 rounded-2xl cursor-pointer px-4 py-2 text-left w-full">
        <%= item[:title].html_safe %>
      </button>
      <div data-accordion-target="content" class="overflow-hidden transition-all duration-300 ease-in-out">
        <div class="p-4"><%= item[:content].html_safe %></div>
      </div>
    </div>
  <% end %>
</div>
