<div class="w-full max-w-lg mx-auto">
  <h2 class="mt-10 mb-5"><%= t("auth.update_password") %></h2>

  <%= form_with(model: current_user, url: auth_password_path, data: {controller: "password-strength"}) do |form| %>
    <%= render(Form::ErrorMessagesComponent.new(object: form.object)) %>

    <%= render(Form::PasswordVisibilityComponent.new(form:, field: :password_challenge)) %>
    <%= render(Form::PasswordVisibilityComponent.new(form:, field: :password, options: {data: {password_strength_target: :password}})) %>
    <%= render(Form::PasswordVisibilityComponent.new(form:, field: :password_confirmation)) %>

    <div>
      <%= form.submit(t("common.update"), class: "w-full bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-3 px-4 rounded-xl focus:outline-none focus:shadow-outline hover:cursor-pointer") %>
    </div>

    <%= render("auth/password_validation") %>
  <% end %>
</div>
